<% include ../layout %>


<section>
  <h1><%= equipment[0].equipment_name%></h1>

  <p>User Id: <%=equipment[0].user_id%></p>
  <p>Batch Id: <%=equipment[0].batch_id%></p>
  <p>It's clean!: <%=equipment[0].clean%></p>
  <p>How long does it take to clean?: <%=equipment[0].clean_time%> minutes</p>
  <p>Notes: <%=equipment[0].clean_notes%></p>
</section>
