<% include ../layout %>
<section>
  <div class="header-content">
    <form action='/beer' method=post>
      <p>
      Type: <input type="text" name="type"  class="inputText"></input>
      </p>
      <p>
      Style: <input type="text" name="style" value=<%=style.name%> class="inputText"></input>
      </p>
      <p>
      Name: <input type="text" name="name" value='My Beer' class="inputText"></input>
      </p>
      <table class="table table-bordered" >
        <tbody id="form-table">
        <tr>
          <th>Ingredients</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Units</th>
        </tr>
          <tr>
            <th><input class="inputText" type="text" name=<%='ingredientName'%> ></input></th>
            <th><input class="inputText" type="text" name=<%='ingredientType'%> ></input></th>
            <th><input class="inputText" type="number" name=<%='ingredientAmount'%> ></input></th>
            <th><input class="inputText" type="text" name=<%='ingredientUnits'%> ></input></th>
          </tr>
      </tbody>
      </table>
      <div>
      </div>
      <div>Notes:
      </div>
      <textarea name='notes' class="text-field" rows="5"><%=style.description%>
      </textarea>
      <button type="submit" class="btn">Save Recipe</button>

    </form>
    <button class="btn" id="addIng">Add Ingredient</button>
    <script src="/javascripts/js/beerCreate.js"></script>

  </div>
</section>
