<% include ../layout %>
<section>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
          <div class="modal-body">
            <form action="/batch/create/beer/<%=beers[0].id%>" method="post">
              <label for="start_date">Start Date</label>
              <input type="date" name="start_date">
              <label for="end_date">End Date<br><span style="font-size: 12px;">(recommended 2 weeks)</span></label>
              <input type="date" name="end_date">
              <label for="expected_yield">Expected Yield (liters)</label>
              <input type="number" name="expected_yield">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
    </div>
  </div>

  <div class="header-content">
      <div class="header-content-inner">
        <a href="/beer/create">Add New Beer</a>
        <div>
          <p>Name: <%= beers[0].beer_name%>
          </p>
          <p>Type: <%=beers[0].type%>
          </p>
          <p>Syle: <%=beers[0].style%>
          </p>
          <table class="table table-bordered" >
            <tbody id="form-table">
            <tr>
              <th>Ingredients</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Units</th>
            </tr>
            <% for(var i=0; i<ingredients.length; i++){%>
              <tr>
                <td><%= ingredients[i].ingredient_name%></td>
                <td><%= ingredients[i].ingredient_type%></td>
                <td><%= ingredients[i].amount%></td>
                <td><%= ingredients[i].units%></td>
              </tr>
            <%}%>
          </tbody>
          </table>
          <div class="button">
            <input type="button" id="btnMode" class="btn" value="+ Start New Batch">
          </div>
        <script type="text/javascript">
            $('#btnMode').click(function(){
              $('#myModal').modal('show');
            });
        </script>
          <p>
          <a href=<%= '/beer/'+beers[0].id+'/delete'%>>Delete Recipe</a>
          </p>
        </div>
      </div>
    </div>
</section>
