<% include ../layout %>
<section>
  <div class="header-content">
      <div class="header-content-inner">
        <a href="/beer/create">Add New Beer</a>
        <div>
          <p>Name: <%= beers[0].beer_name%>
          </p>
          <p>Type: <%=beers[0].type%>
          </p>
          <p>Syle: <%=beers[0].style%>
          </p>
          <table class="table table-bordered" >
            <tbody id="form-table">
            <tr>
              <th>Ingredients</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Units</th>
            </tr>
            <% for(var i=0; i<ingredients.length; i++){%>
              <tr>
                <td><%= ingredients[i].ingredient_name%></td>
                <td><%= ingredients[i].ingredient_type%></td>
                <td><%= ingredients[i].amount%></td>
                <td><%= ingredients[i].units%></td>
              </tr>
            <%}%>
          </tbody>
          </table>
          <a href=<%= '/batch/create'+beers[0].id%>>Start a Batch</a>
          <p>
          <a href=<%= '/beer/'+beers[0].id+'/delete'%>>Delete Recipe</a>
          </p>
        </div>
      </div>
    </div>
</section>
