<% include ../layout %>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
          <div class="modal-body">
            <form action="/batch/create/beer/<%=beers[0].id%>" method="post">
              <label for="start_date">Start Date</label>
              <input type="date" name="start_date">
              <label for="end_date">End Date<br><span style="font-size: 12px;">(recommended 2 weeks)</span></label>
              <input type="date" name="end_date">
              <label for="expected_yield">Expected Yield (liters)</label>
              <input type="number" name="expected_yield">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
    </div>
  </div>


<div class="container">
  <div class="col-md-12 align-left">
    <a href="/beer/create">
    <button type="button" class="btn btn-default button-spacing" name="button"> + Add A New Beer</button></a>
  </div>
</div>
<div class="container">
    <div class="col-md-12 text-center">
      <p class="list-style-mid" >Beer Name: <%= beers[0].beer_name%>
      </p>
      <p class="list-style-mid" >Type: <%=beers[0].type%>
      </p>
      <p class="list-style-mid" >Syle: <%=beers[0].style%>
      </p>
    </div>
</div>
<div class="container">
  <table class="table table-bordered table-spacing">
      <tbody id="form-table">
      <tr>
        <th>Ingredients</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Units</th>
      </tr>
      <% for(var i=0; i<ingredients.length; i++){%>
        <tr>
          <td><%= ingredients[i].ingredient_name%></td>
          <td><%= ingredients[i].ingredient_type%></td>
          <td><%= ingredients[i].amount%></td>
          <td><%= ingredients[i].units%></td>
        </tr>
      <%}%>
    </tbody>
  </table>
</div>
<div class="container bottom-spacing">
  <div class="row">
    <a href=<%= '/beer/'+beers[0].id+'/delete'%>>
      <button type="button" class="btn btn-primary" name="button"> - Delete Recipe</button></a>
    <a href="#">
    <button type="button" id="btnMode" class="btn btn-default" name="button"> + Start New Batch</button></a>
    <script type="text/javascript">
        $('#btnMode').click(function(){
          $('#myModal').modal('show');
        });
    </script>
  </div>
</div>
