<% include ../layout %>

<section>
  <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Add New Beer Page</h1>
          </div>
          <a href="/beer/create">Add New Beer</a>
          <div class="table">
            <table class="batch">
              <thead>
                <tr>
                  <th>Beer Name</th>
                  <th>Beer Type</th>
                  <th>Beer Style</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i = 0; i < batches.length; i++){ %>
                  <tr>
                    <td><a href="/batch/<%= batches[i].id %>"><%=  batches[i].beer_name %></a></td>
                    <td><%= batches[i].start_date.toISOString().split('T')[0] %></td>
                    <td><%= batches[i].end_date.toISOString().split('T')[0] %></td>
                    <td><%= batches[i].expected_yield %> liters</td>
                  </tr>
                  <%} %>
              </tbody>
            </table>
          </div>
            <div>Your Beers
              <%for(var i=0; i<beers.length; i++){%>
                <p>
                <a href=<%='/beer/'+beers[i].id%>><%=beers[i].beer_name%></a>
                </p>
              <%}%>
            </div>


<div class="container">
  <div class="col-md-12 text-center">
    <h1 class="recipe-top">Start A New Beer</h1>
    <br>
    <a href="/beer/create">
    <button type="button" class="btn btn-primary" name="button">Let's Begin!</button></a>
  </div>
</div>
<div class="container recipe-padding">
  <div class="col-md-12 text-center">
    <h3 class='recipe-mid'>Your Current Beers</h3>
      <%for(var i=0; i<beers.length; i++){%>
      <div class="recipe-beer-list">
      <a class="recipe-beer-list" href=<%='/beer/'+beers[i].id%>><%=beers[i].beer_name%></a>

    </div>
      <%}%>

  </div>
</div>
