<% include ../layout %>

<h1><%=beer.beer_name%></h1>

  <div class="table">
    <table class="finished_batch">
      <thead>
        <tr>
          <th>Taste</th>
          <th>After Taste</th>
          <th>Appearance</th>
          <th>Smell</th>
          <th>Mouth Feel</th>
          <th>Drinkability</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i = 0; i < finished.length; i++){ %>
          <tr>
            <td><a href="/batch/<%= batches[i].id %>"><%=  batches[i].beer_name %></a></td>
            <td><%= batches[i].start_date.toISOString().split('T')[0] %></td>
            <td><%= batches[i].end_date.toISOString().split('T')[0] %></td>
            <td><%= batches[i].expected_yield %> liters</td>
          </tr>
          <%} %>
      </tbody>
    </table>
  </div>
</section>
