<% include ../layout %>

<section>
  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add new batch
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
          <div class="modal-body">
            <form action="/batch/catch" method="post">
              <label for="beer_name">Name</label>
              <input type="text" name="beer_name">
              <label for="type">Beer Type</label>
              <input type="text" name="type">
              <label for="Style">Style</label>
              <input type="text" name="style">
              <label for="start_date">Start Date</label>
              <input type="date" name="start_date">
              <label for="end_date">End Date<br><span style="font-size: 12px;">(recommended 2 weeks)</span></label>
              <input type="date" name="end_date">
              <label for="expected_yield">Expected Yield (liters)</label>
              <input type="number" name="expected_yield">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>
      </div>
    </div>
  </div>

  <h2>Batches</h2>

  <div class="table">
    <table class="batch">
      <thead>
        <tr>
          <th>Beer Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Expected Yield</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i = 0; i < batches.length; i++){ %>
          <tr>
            <td><a href="/batch/<%= batches[i].id %>"><%=  batches[i].beer_name %></a></td>
            <td><%= batches[i].start_date.toISOString().split('T')[0] %></td>
            <td><%= batches[i].end_date.toISOString().split('T')[0] %></td>
            <td><%= batches[i].expected_yield %> liters</td>
          </tr>
          <%} %>
      </tbody>
    </table>
  </div>
  <div class="button">
    <input type="button" id="btnMode" class="btn" value="+ Add new batch">
  </div>
</section>

<script type="text/javascript">
    $('#btnMode').click(function(){
      $('#myModal').modal('show');
    });
</script>
