<% include ../layout %>

<section class="batch_show">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Step to Batch</h4>
        </div>
          <div class="modal-body">
            <form>
              <label for="stage">Stage</label>
              <select class="select-list" name="stage">
                <option selected hidden>select stage</option>
                <option value="1">Brew Day</option>
                <option value="2">Fermentation Monitoring</option>
                <option value="3">Bottling Day</option>
                <option value="4">Drink!</option>
              </select>
              <label for="step_name">Step Name</label>
              <input id="stepz" type="text" name="name">
              <label for="step_notes">Step Notes</label>
              <textarea id="steppy" name="notes" rows="8" cols="40"></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="close" type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </div>
  </div>

  <aside class="aside_batch">
    <div class="containerC">
      <div class="item text-center">
        <h4><%= beer[0].beer_name %> Ingredients </h4>
        <hr>
        <form id="ing-form" action="/batch/ingredient/<%= beer_id %>/<%= batch_id %>" method="post">

        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Units</th>
              </tr>
            </thead>
            <tbody id="form-table">
              <%for(var i = 0; i < ing.length; i++){ %>
                <tr style="width: 4px">
                  <td ><%= ing[i].ingredient_name %></td>
                  <td><%= ing[i].ingredient_type %></td>
                  <td><%= ing[i].amount %></td>
                  <td><%= ing[i].units %></td>
                </tr>
                <%} %>
                <tr>
                  <th><input class="batch-input" type="text" name=<%='ingredientName'%> ></input></th>
                  <th><input class="batch-input" type="text" name=<%='ingredientType'%> ></input></th>
                  <th><input class="batch-input" type="number" name=<%='ingredientAmount'%> ></input></th>
                  <th><input class="batch-input" type="text" name=<%='ingredientUnits'%> ></input></th>
                </tr>
            </tbody>
          </table>
          <button type="submit" class="btn">Add Ingredient</button>

        </form>

        </div>
      </div>
      <div class="item text-center">
        <h4>Equipment</h4>
        <hr>
        <form id="equ-form" action="/batch/equipment/<%= batch_id %>" method="post">

        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Equipment</th>
                <th>Clean?</th>
                <th>Clean Time</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i = 0; i < equipment.length; i++){ %>
                <tr>
                  <td><%= equipment[i].equipment_name %></td>
                  <td><%= equipment[i].clean %></td>
                  <td><%= equipment[i].clean_time %></td>
                </tr>
                <%} %>
                <tr>
                  <th><input class="batch-input" type="text" name=<%='equipmentName'%> ></input></th>
                  <th><input class="batch-input" type="checkbox" name=<%='clean'%> ></input></th>
                  <th><input class="batch-input" type="number" name=<%='cleanTime'%> ></input></th>
                </tr>
            </tbody>
          </table>
          <button type="submit" class="btn">Add Equipment</button>
        </form>

        </div>
      </div>
      <div class="item">
        <h4>Brewer's Notes</h4>
        <hr>
        <%for(var i =0; i< notes.length; i++){ %>
        <h6><%= notes[i].notes %></h6>
        <% } %>
        <form action="/batch/notes/<%= beer[0].user_id %>" method="post">
          <input type="number" name="beer_id" value="<%= beer_id %>" hidden>
          <input type="number" name="batch_id" value="<%= batch_id %>" hidden>
          <textarea rows="4" name="notes" cols="50" placeholder="enter new note"></textarea>
          <input type="submit" class="btn btn-default" value="add note">
        </form>
      </div>
    </div>

  </aside>
  <main class="main_batch">

  <h3><%= beer[0].beer_name %> | <%= beer[0].type %> | <%= beer[0].style %></h3>
  <div class="container">
            <div class="row bs-wizard" style="border-bottom:0;">
              <%var states=[]%>
              <%switch(curr_stage){
                case 1:
                  states[0]='active'
                  states[1]='disabled'
                  states[2]='disabled'
                  states[3]='disabled'
                  break;
                case 2:
                  states[0]='complete'
                  states[1]='active'
                  states[2]='disabled'
                  states[3]='disabled'
                  break;
                case 3:
                  states[0]='complete'
                  states[1]='complete'
                  states[2]='active'
                  states[3]='disabled'
                  break;
                case 4:
                  states[0]='complete'
                  states[1]='complete'
                  states[2]='complete'
                  states[3]='complete'
                  break;
              }%>
                <div id="1" class="col-xs-3 bs-wizard-step <%=states[0]%>">
                  <div class="text-center bs-wizard-stepnum">&nbsp</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Brew Day</div>
                </div>

                <div id="2" class="col-xs-3 bs-wizard-step <%=states[1]%>"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">&nbsp</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Fermentation Monitoring</div>
                </div>

                <div id="3" class="col-xs-3 bs-wizard-step <%=states[2]%>"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">&nbsp</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Bottling Day</div>
                </div>

                <div id="4" class="col-xs-3 bs-wizard-step <%=states[3]%>"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">&nbsp</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Drink!</div>
                </div>
            </div>
	      </div>
  </div>
  <div class="steps">
    <input type="button" id="addStep" class="btn btn-default" value="Add Step +"> || <input type='button' id="backStep" class="btn btn-default" value="< Back Stage"> || <input type="button" id="nextStep" class="btn btn-default" value="Next Stage >"> || <input type="button" id="finishedS" class="btn btn-default" value="Finished Stage">
    <div class="stepBody">
      <%if(steps){ %>
      <% var order = [[], [], [], []] %>
      <% steps.forEach(function(step){
        order[step.stage-1].push(step);
        })
        %>
        <% } %>

        <div class="step" id="hide1">
          <% for(var i = 0; i < order[0].length; i++ ){ %>
            <h5>Step <%= order[0][i].step_order %></h5>
            <h3><%= order[0][i].name %></h3>
            <p><%= order[0][i].notes %></p>
            <% if(order[0][i].done === true) { %>
            <input type="checkbox" name="clean" checked>
            <%} else { %>
              <input type="checkbox" name="clean">
              <% } %>
            <% } %>
        </div>
        <div class="step" id="hide2">
          <% for(var i = 0; i < order[1].length; i++ ){ %>
            <h5>Step <%= order[1][i].step_order %></h5>
            <h3><%= order[1][i].name %></h3>
            <p><%= order[1][i].notes %></p>
            <% if(order[1][i].done === true) { %>
            <input type="checkbox" name="clean" checked>
            <%} else { %>
              <input type="checkbox" name="clean">
              <% } %>
            <% } %>
        </div>
        <div class="step" id="hide3">
          <% for(var i = 0; i < order[2].length; i++ ){ %>
            <h5>Step <%= order[2][i].step_order %></h5>
            <h3><%= order[2][i].name %></h3>
            <p><%= order[2][i].notes %></p>
            <% if(order[2][i].done === true) { %>
            <input type="checkbox" name="clean" checked>
            <%} else { %>
              <input type="checkbox" name="clean">
              <% } %>
            <% } %>
        </div>
        <div class="step" id="hide4">
          <% for(var i = 0; i < order[3].length; i++ ){ %>
            <h5>Step <%= order[3][i].step_order %></h5>
            <h3><%= order[3][i].name %></h3>
            <p><%= order[3][i].notes %></p>
            <% if(order[3][i].done === true) { %>
            <input type="checkbox" name="clean" checked>
            <%} else { %>
              <input type="checkbox" name="clean">
              <% } %>
            <% } %>
        </div>
    </div>

  </div>

</main>

</section>

<script type="text/javascript">
$(document).ready(function(){
  $('#hide2').hide();
  $('#hide3').hide();
  $('#hide4').hide();

  $('#addStep').click(function(){
    $('#stepz').val('');
    $('#steppy').val('');
    $('textarea').empty();
    $('#myModal').modal('show');
  });

var stage = <%= curr_stage %>;
$('#nextStep').click(function(){
  stage++;
    switch(stage){
      case 2:
      $('#hide1').hide();
      $('#hide2').show();
      $('#hide3').hide();
      $('#hide4').hide();
      $('#1').switchClass('active', 'complete')
      $('#2').switchClass(`disabled`, 'active');
        break;
      case 3:
      $('#hide1').hide();
      $('#hide2').hide();
      $('#hide3').show();
      $('#hide4').hide();
      $('#2').switchClass(`active`, 'complete');
      $('#3').switchClass(`disabled`, 'active');
        break;
      case 4:
      $('#hide1').hide();
      $('#hide2').hide();
      $('#hide3').hide();
      $('#hide4').show();
      $('#3').switchClass(`active`, 'complete');
      $('#4').switchClass(`disabled`, 'active');
        break;
    }
  })
$('#backStep').click(function(){
    switch(stage){
      case 2:
      $('#hide1').show();
      $('#hide2').hide();
      $('#hide3').hide();
      $('#hide4').hide();
      $('#1').switchClass('complete', 'active')
      $('#2').switchClass(`active`, 'disabled');
        break;
      case 3:
      $('#hide1').hide();
      $('#hide2').show();
      $('#hide3').hide();
      $('#hide4').hide();
      $('#2').switchClass('complete', 'active');
      $('#3').switchClass('active', 'disabled');
        break;
      case 4:
      $('#hide1').hide();
      $('#hide2').hide();
      $('#hide3').show();
      $('#hide4').hide();
      $('#3').switchClass('complete', 'active');
      $('#4').switchClass('active', 'disabled');
        break;
    }
    stage--;
  })

  $('#finishedS').click(function(){
    var x = $(`#hide${stage}`).find('input');
    console.log(x.length);
  })


})
</script>
