<% include ../layout %>

<section>
  <h2><%= beer[0].beer_name %></h2>
  <h6><%= beer[0].type %></h6>
  <h6><%= beer[0].style %></h6>
  <div class="container_batch">
    <div class="item">
      <h6>Stage 1: Brew Day</h6>
    </div>
    <div class="item">
      <h6>Stage 2: Fermentation Monitoring</h6>
    </div>
    <div class="item">
      <h6>Stage 3: Bottling Day</h6>
    </div>
  </div>

<div class="containerC">
  <div class="col-sm-4">
    <h4><%= beer[0].beer_name %> Ingredients</h4>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Ingredient Name</th>
            <th>Ingredient Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <%for(var i = 0; i < ing.length; i++){ %>
            <tr>
              <td><%= ing[i].ingredient_name %></td>
              <td><%= ing[i].ingredient_type %></td>
              <td><%= ing[i].amount %> <%= ing[i].units %></td>
            </tr>
            <%} %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4">
    <h4>Equipment</h4>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Equiptment</th>
            <th>Clean Status</th>
            <th>Clean Time</th>
            <th>Clean Notes</th>
          </tr>
        </thead>
        <tbody>
          <%for(var i = 0; i < equipment.length; i++){ %>
            <tr>
              <td><%= equipment[i].equipment_name %></td>
              <td><%= equipment[i].clean %></td>
              <td><%= equipment[i].clean_time %></td>
              <td><%= equipment[i].clean_notes %></td>
            </tr>
            <%} %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4">
    <h4>Brewer's Notes</h4>
    <%for(var i =0; i< notes.length; i++){ %>
    <h6><%= notes[i].notes %></h6>
    <% } %>
    <form action="/batch/notes/<%= beer[0].user_id %>" method="post">
      <input type="number" name="beer_id" value="<%= ing[0].beer_id %>" hidden>
      <input type="number" name="batch_id" value="<%= equipment[0].batch_id %>" hidden>
      <textarea rows="4" name="notes" cols="50" placeholder="enter notes here"></textarea>
      <input type="submit" value="add note">
    </form>
  </div>
</div>

</section>
